<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.god.southcar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO">
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>

    <application
        android:name="com.example.picturewall.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/chinazhongche"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.welcome.welcome">

        </activity>

        <activity
            android:name="com.example.login_register_update_findinfomation.register.Register">

        </activity>

        <activity
            android:name="com.example.login_register_update_findinfomation.findinformation.findpassword">

        </activity>

        <activity
            android:name=".MainActivity_slider"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.login_register_update_findinfomation.login.Login">

        </activity>

        <activity android:name="com.example.MyFragment1.MyFragment1_broadcast">

        </activity>



        <activity android:name="com.arlen.photo.ui.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.example.xianlu_main.xianlu_main_activity">

        </activity>

        <activity android:name="com.example.main.crm_main_activity" >

        </activity>

        <activity
            android:name="com.arlen.photo.photopickup.view.PhotoPickupActivity"
            android:label="照片选择"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.arlen.photo.photopickup.view.ImageLookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="大图查看"
            android:screenOrientation="portrait"/>



        <activity android:name="com.example.picturewall.MainActivity_uploadpic">

        </activity>
        <activity android:name="com.example.imagedemo.ImagePagerActivity" >
        </activity>



    </application>

</manifest>